@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";

body {
    font-family: "Roboto Flex", "Sansation", sans-serif;
    margin: 0;
}

/* inside your global CSS file */
.slick-prev:before,
.slick-next:before {
    color: #2f4254a8;
    /* change arrow color */
    font-size: 30px;
    margin-right: 50px;
    /* make them bigger if you want */
}